p{background: yellow;
    font-weight: bold; 
    font-style: italic;
    text-align: left; 
}
h1{background:purple;}
.important{
    color: brown;
    clear: both;
    line-height: 1.5;
}
div{font-size: 10px;}
body {
    font-family: Arial, Helvetica, sansserif;
    font-size: 25px;
    color: #008499;
    
   }
